HOST_IP=192.168.49.2
OPENTWINS_HOST_IP=192.168.49.2
WINE_SERVICE_HOST=0.0.0.0
WINE_SERVICE_PORT=8010
DITTO_BASE_URL=http://192.168.49.2:30525
DITTO_USERNAME=ditto
DITTO_PASSWORD=ditto
EXTENDED_API_URL=http://192.168.49.2:30526
MQTT_HOST=192.168.49.2
MQTT_PORT=30511
MQTT_USERNAME=ditto
MQTT_PASSWORD=ditto
INFLUX_URL=http://192.168.49.2:30716
INFLUX_TOKEN=
INFLUX_ORG=opentwins
INFLUX_BUCKET=opentwins
MONGO_URI=mongodb://192.168.49.2:30717
CORS_ALLOW_ORIGINS=*
VITE_API_BASE_URL=http://192.168.49.2:8010
