DEBUG_API_HOST=0.0.0.0
DEBUG_API_PORT=18080
DEBUG_REQUEST_TIMEOUT=5

DITTO_BASE_URL=http://localhost:8080
DITTO_USER=ditto
DITTO_PASSWORD=ditto
DITTO_DEVOPS_USER=devops
DITTO_DEVOPS_PASSWORD=foobar

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_DEFAULT_TOPIC=telemetry/#

INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=change_me
INFLUX_ORG=opentwins
INFLUX_BUCKET=opentwins

GRAFANA_URL=http://localhost:3000
GRAFANA_API_TOKEN=change_me

TRACE_DB_PATH=./data/debug_trace.sqlite
KUBERNETES_NAMESPACE=opentwins
HELM_RELEASE=opentwins
